/*.filtro{
    position:fixed;
    right: 20px;
    width: 180px;
    background-color:#222;
    padding: 20px;
    top: 80px;
}
.filtro select{
    width: 80px;
}

label{
    font-size:large;
}*/

.filtro {
    width: 300px;
    height: fit-content;
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    font-size: x-large;
}